@font-face {
    font-family: TheWildBreathOfZelda;
    src: url(../assets/TheWildBreathOfZelda-15Lv.ttf);
}

.landing {
    color: black;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    top:0px;
    left:0px;
    cursor: url("../assets/master_sword.ico"), auto;
}

.landing h1 {
    font-family: TheWildBreathOfZelda;
    font-size: 12ch;
    margin-bottom: 0px;
}