.welcome {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 8%;
    display: grid;
}

.top {
    color: #D7E3C7;
}

.middle {
    color: #145567;
}

.bottom {
    color: white;
}